<div class="jumbotron" id="home-jumbotron">
	<div class="container">
	  <h1><%=t("billboard_title")%></h1>
	  <p><%=t("billboard_text")%></p>
	  <p><a class="btn btn-primary btn-lg" href=<%=new_user_registration_url%> role="button"><%=t("sign_up_now")%></a></p>
  </div>
</div>
