@import "variables.scss";

.cloudinary-button {
	text-align: center;
	margin: 1em;
	max-width: 10em;
	display: block;
}

.upload-button {
	padding: .2em .5em;
	margin: 1em 0;
}

#error-explanation {
	color: red;
}

.form-errors {
	padding: 0;
	color: red;
	list-style: none;
}